* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
  }
  
  html,
  body {
    height: 100%;
   width: 100%;
  }
  #main{
    height: 100%;
    width: 100%;
  }
  #page1{
    height: 100%;
    width: 100%;
    background-color: aqua;
  }
  #nav-bar{
height: 15%;
width: 100%;
background-color: aqua;
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 10%;
position: fixed;
 }

  #nav-bar2{
    display: flex;
    gap: 20px;
    padding-right: 20%;
  }
  #page1-part1{
    height: 85%;
    background-color: rgb(255, 208, 0);
    display: flex;
    /* margin-top: 30px; */
    
  }
  #my-picture{
    /* background-color: blue;  */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    }
    #my-picture img{
      height: 400px;
      width: 400px;
      border-radius: 50%;
    }
  #intro{
    /* background-color: rgb(0, 255, 26); */
    width: 50%;
    text-align: center;
  }
  #intro-part1{
    background-color: rgb(9, 255, 0);
    height:40%;
    padding-top: 40px;
    line-height: 45px;
  }
  #intro-part2{
    background-color: brown;
    height:30%;
    display: flex;
    justify-content: center;
    padding-left:15px;
  }
   #intro-part2 h3 {
    height: 40px;
    border: 2px solid black;
  border-radius: 50px;
  padding: 5px;
  margin-left: 15px;
  }
  #intro-part3{
    height: 30%;
    /* background-color: chocolate; */
     font-size: 30px;
    
  }
  #page2{
    height: 100%;
    width: 100%;
    
  } 
  #page2-part1{
   
    height: 10%;
    text-align: center;
    font-size: 20px;
  }
   #page2-part2{
  /* background-color: rgb(40, 203, 203); */
  display: flex;
  height: 90%;
  line-height: 30px;
  margin-left: 15% ;
  /* border-radius: 50px; */
    }
  .project{
   
    width: 40%;
    border: 2px solid black;
    border-radius: 50px;
    padding: 20px;
  }
  .project:nth-child(2){
    margin-left: 30px;
  }
  .project img{
    height: 50%;
    width:50%;
  }
 #page3{
  height: 100%;
  width: 100%;
  /* background-color: rgb(212, 29, 130); */
 } 
 #page3-part1{
  /* background-color: aquamarine; */
  text-align: center;
  font-size: 20px;
  height: 10%;
 }
 .page3-part2{
   display: flex;
  height: 90%;
  line-height: 30px;
  margin-left: 15% ;
  /* border-radius: 50px; */
 
 }
 
 #Programming-lang{
  width: 40%;
 
  /* margin: 20px; */
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
 }
 #Library-Tools{
  width: 40%;
  
  margin-left: 30px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
 }

 #page4{
  height: 100%;
  width: 100%;
  /* background-color: rgb(212, 29, 130); */
 } 
 #page4-part1{
  /* background-color: aquamarine; */
  height: 10%;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
 }
 .page4-part2{
 
  display: flex;
  height: 90%;
  line-height: 35px;
  margin-left: 15% ;
  /* border-radius: 50px; */
 
 
 }
 #College{
  width: 40%;
  
  border: 2px solid black;
  /* margin: 20px; */
  border-radius: 20px;
  padding: 20px;
 }
 #School{
  margin-left: 30px;
  width: 40%;
  
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
 }
 
 #College img{
  height: 200px;
  width: 350px;
 }
 #School img{
  height: 200px;
  width: 350px;
  object-fit: cover;
  
 }
   
    

